.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.userReg{
  text-align: center;
  height: 150px;
  padding: 20px;
  font-size: 30px;
  
  /* background-color: #222; */
  height: 550px
}
/* .signUpForm{
  border: 1px solid black
} */
/* .userSignup{
  border: 1px solid black

} */
/* .text{
  
  border: 1px solid black
} */
table, th, td{
  border: 1px solid black;
  
}
th {
  height: 50px;
}
table {
  width: 100%;
}
.details{
  text-align: center;
  /* text-align: center;
    border: 5px solid #027272;
    border-radius: 8px;
    padding: 10px;
    margin: 0 8%;
    height: auto; */
}
.Form{
  text-align: center;
  height: 150px;
  padding: 20px;
  font-size: 30px;
}